<ul class="row">
<% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li class="col-auto">
        <%= raw Rinku.auto_link(simple_format(comment.content)) %>

	  <div>
	    <p class="site_comments_menu_links">[added by <%= comment.user.name %> at <%= l comment.updated_at, format: :short %> ]</p>	
	    <div class="site_comments_menu_links" id ="this_comment_<%= comment.id %>">
	      <%= link_to I18n.t('views.labels.comment_edit'), edit_comment_path(comment.id), remote: true %>
	    </div>
	    <div class="site_comments_menu_links">	      
	      <%= link_to I18n.t('views.labels.comment_delete'), comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?'} %>
	    </div>
	  </div>
      </li>
    <% end %>
  <% end %>
</ul>
