<ul class="row">
<% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li class="col-auto">
        <% unless URI.regexp.match(comment.content).nil? %>
          <%= link_to comment.content, comment.content, target: :_blank, rel: 'noopener noreferrer' %>
        <% else %>
          <%= comment.content %>
        <% end %>
        [added by <%= comment.user.name %> at <%= comment.updated_at.to_s(:datetime_jp) %> ]
        <%= link_to I18n.t('views.messages.delete_comment'), comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?'} %>
	<div class="comment-content" id ="this_comment_<%= comment.id %>">
	  <%= link_to I18n.t('views.messages.edit_comment'), edit_comment_path(comment.id), remote: true %>
	</div>
      </li>
    <% end %>
  <% end %>
</ul>
