<article class="container_article">
<h1><%= I18n.t('views.labels.label_index_top') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('views.labels.label_index_title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><span class="badge badge-info"><%= label.title %></span></td>
        <td><%= link_to I18n.t('views.labels.link_show_label'), label %></td>
        <td><%= link_to I18n.t('views.labels.link_edit_label'), edit_label_path(label) %></td>
        <td><%= link_to I18n.t('views.labels.link_destroy_label'), label, method: :delete, data: { confirm: I18n.t('views.messages.really_want_to_delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.labels.link_new_label'), new_label_path %>
</article>