
<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-body">

        <div class="row">  
          <div class="col-md-12">
            <div>
              <%= image_tag default_img(nil), class: 'img' %><br>
              <%= @user.name %>&nbsp;&lt;<%= @user.email %>&gt;
            </div>
            <%= link_to I18n.t('views.messages.edit_profile') , '#', class: 'btn btn-sm btn-success mt-3' %>
          </div>
        </div>

        <div class="row">  
          <div class="col-md-12">
         
            <div class="mt-4">
         
              <h5><%= I18n.t('views.messages.team_you_belong_to') %></h5>
              <table class="table">
                <tbody>
                  <% @user.teams.each do |team| %>
                    <tr>
                      <td><%= image_tag default_img(team.icon_url), size: '40x40' %></td>
                      <td><%= team.name %></td>
                      <td><%= link_to I18n.t('views.messages.select_team'), team %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->
</div>
