<%= form_with(model: image_post, url: team_site_image_posts_path, local: true) do |form| %>
  <% if image_post.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5>
        <i class="icon fa fa-ban"></i>
        <%= pluralize(image_post.errors.count, "error") %> prohibited this team from being saved:
      </h5>
      <ul>
        <% image_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.hidden_field :site_id %>
    <%= form.file_field :image %>    
  </div>

  <div class="form-group">
    <%= form.submit I18n.t('views.button.submit'), class: 'btn btn-success' %>
  </div>
<% end %>
