<%= form_with(model: site,  url: choose_new_or_edit_confirm, method: :post, multipart: true, local: true) do |form| %>

<div class="container_article border border-dark">
    <h3><i class="fa fa-info-circle" aria-hidden="true"></i><%= I18n.t('views.labels.site_show_basic_attributes_block') %></h3>

    <% if site.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(site.errors.count, "error") %> prohibited site from being saved:</h2>
        <ul>
        <% site.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- 基本属性ブロック start -->
    <% if site.present? %>
      <input type="hidden" name="team_id" value="<%= site.team_id%>">
      <input type="hidden" name="id" value="<%= site.id %>">
    <% end %>
  
    <table>
    <tr>
      <td align="right"><%= form.label I18n.t('views.labels.site_name') %></td>
      <td><%= form.text_field :name, id: '', size: 48, class: "m-1 p-1" %></td>
    </tr>
    <tr>
      <td align="right"><%= form.label I18n.t('views.labels.site_address') %></td>
      <td><%= form.text_field :address, id: '', size: 48, class: "m-1 p-1" %></td>
    </tr>
    <tr>
      <td align="right"><%= form.label :labels, I18n.t('views.labels.filter_select_label') %></td>
      <td>
        <%= form.collection_check_boxes(:label_ids, Label.filter_team(current_user.keep_team_id), :id, :title) do |b| %>
          <%= b.label do %>
            <%= b.check_box %>
            <span class='badge badge-pill badge-light'>
              <%= b.text %>
            </span>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td align="right"><%= form.label I18n.t('views.labels.site_memo') %></td>
      <td><%= form.text_field :memo, id: '', size: 48, class: "m-1 p-1" %></td>
    </tr>
    <tr>
      <td align="right"><%= form.label :tag_list, I18n.t('views.labels.site_hashtag') %></td>
      <td><%= form.text_field :tag_list, id: '', size: 48, class: "m-1 p-1" %></td>
    </tr>
    <tr>
      <td align="right"><%= I18n.t('views.labels.load_kml') %></td>
      <td><%= file_field_tag :file, class: "p-1 btn-sm" %></td>
    </tr>    

    <tr><td>
        <%= form.submit I18n.t('views.labels.site_submit'), class: "btn btn-sm btn-success" %>
        </td>
    </tr>
    </table>
    <!-- 基本属性ブロック end -->

</div>
<% end %>
