
<article class="container_article">
  <h1><%= I18n.t('views.labels.site_index') %></h1>
 
  <!-- <h4><%#= I18n.t('views.labels.site_filter_cond') %></h4> -->
  <div class="site_index_search_condition border border-dark">
  
    <%= search_form_for(@q, url: team_sites_path(team_id: current_user.keep_team_id), id: 'filter_form', method: :get) do |form| %>
    <%#= search_form_for @q do |form| %>

      <table>

      <tr>
        <td align="right"><%= form.label :name_cont, I18n.t('views.labels.filter_input_name') %></td>
        <td>   
          <%= form.search_field :name_cont, id:'' %>
        </td>

        <td align="right"><%= form.label :address_cont, I18n.t('views.labels.filter_input_address') %></td>
        <td>   
          <%= form.search_field :address_cont, id:'' %>
        </td>
      </tr>

      <tr>
        <td align="right">
          <%= form.label :labels_id_in, I18n.t('views.labels.filter_select_label') %>
        </td>
        <td>          
          <%= form.collection_check_boxes(:labels_id_in, Label.filter_team(current_user.keep_team_id), :id, :title) do |b| %>
            <%= b.label do %>
              <%= b.check_box %>
              <span class='badge badge-pill badge-secondary'>
              <%= b.text %>	      
              </span>
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td align="right"><%= form.label :memo_cont, I18n.t('views.labels.filter_input_memo') %></td>
        <td>
          <%= form.search_field :memo_cont %>
        </td>
        <td align="right"><%= form.label :comments_content_cont, I18n.t('views.labels.filter_input_comment') %></td>
        <td><%= form.search_field :comments_content_cont %></td>
      </tr>


      <tr>
        <td align="right"><%= form.label :tags_name_cont, I18n.t('views.labels.filter_input_hashtag') %></td>
        <td>   
          <%= form.search_field :tags_name_cont, id:'' %>
        </td>
      </tr>
      <tr>
        <td align="right">
          <%= radio_button_tag :and_or, 0 %> And
          <%= radio_button_tag :and_or, 1 %> Or
        </td><td><BR></td><td><BR></td>
        <td align="right">
          <%= form.submit I18n.t('views.labels.site_filter'), class:"btn btn-sm btn-info" %>
          <button name="action" value="clear" type="button" class="clear-button btn btn-sm btn-warning">クリア</button> 
        </td>
      </tr>

    </table>
    <% end %>
  </div>

 <!-- <h4><%#= I18n.t('views.labels.site_index_index') %></h4> -->
  <div class="site_index_index">
    <div class="text-right">
      <%= link_to I18n.t('views.labels.link_site_new'), new_team_site_path(current_user.keep_team_id ) %>
    </div>
    <table class="table table-sm table-bordered table-resposive table-hover">
    <thead class="thead-dark">  
<!--    <thead class="thead-light"> -->
      <tr>
        <th><%= sort_link(@q, :id, I18n.t('views.labels.site_id'), {class: "site_index_sort_link"}) %></th>
        <th><%= sort_link(@q, :name, I18n.t('views.labels.site_name'), {class: "site_index_sort_link"}) %></th>
        <th><%= sort_link(@q, :address, I18n.t('views.labels.site_address'), {class: "site_index_sort_link"}) %></th>
        <th><%= I18n.t('views.labels.site_label') %></th>
        <th><%= sort_link(@q, :memo, I18n.t('views.labels.site_memo'), {class: "site_index_sort_link"}) %></th>
        <th><%= I18n.t('views.labels.site_hashtag') %></th>
        <th><%= sort_link(@q, :user_name, I18n.t('views.labels.site_username'), {class: "site_index_sort_link"}) %></th>
        <th><%= sort_link(@q, :created_at, I18n.t('views.labels.site_created_at', default_order: :desc), {class: "site_index_sort_link"}) %></th>
        <th><%= sort_link(@q, :updated_at, I18n.t('views.labels.site_updated_at', default_order: :desc), {class: "site_index_sort_link"}) %></th>
        <th></th><th></th>
      </tr>
    </thead>
    <tbody>


    <% @sites.each do |site| %>
      
      <tr>
        <td><%= link_to site.id, team_site_path(site.team.id, site.id), class: "btn btn-sm btn-primary" %></td>
        <td><%= site.name %></td>
        <td><%= site.address %></td>
        <td>
          <% site.site_labellings.each do |labelling| %>
            <span class="badge badge-pill badge-secondary mr-1 p-2"><%= labelling.label.title %></span><br>
          <% end %>
        </td>    
        <td><%= site.memo %></td>
        <td>
          <%= render 'sites/tag_list', tag_list: site.tag_list %>
        </td>
        <td><%= site.user.name %></td>
        <td><%= l site.created_at, format: :short %></td>
        <td><%= l site.updated_at, format: :short %></td>
        <td>
          <% if(current_user.keep_team.owner_id == current_user.id || site.user_id == current_user.id) %>
            <%= link_to '編集', edit_team_site_path(site.team.id, site.id), class: "btn btn-sm btn-info" %>
          <% end %>
        </td>
        <td>
          <% if(current_user.keep_team.owner_id == current_user.id || site.user_id == current_user.id) %>
            <%= link_to '削除', team_site_path(site.team.id, site.id), method: :delete,  data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>

      <% end %>

    </tbody>
    </table>
    <%= paginate @sites, theme: 'twitter-bootstrap-4'%>
  </div>
</article>
