<p id="notice"><%= notice %></p>

<h1>Sites#index</h1>
<p>Find me in app/views/sites/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Memo</th>
<!--      <th>Tag_list</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |blog| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.memo %></td>
<!--
        <td>
          <%= render 'blogs/tag_list', tag_list: blog.tag_list %>
        </td>
        <td><%= link_to 'Show', blog, data: {"turbolinks" => false} %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Site', new_site_path %>
