<p id="notice"><%= notice %></p>

<article class="container_article">
<h1>現場情報一覧</h1>

<h4>絞込み条件指定</h4>
<div class="site_index_search_condition border border-dark">
  <form>
    <table border="0">
<tr>
  <td align="right">ラベルを選択</td>
  <td>
    <input type="checkbox" name="label" value="1" checked="checked"><span class="badge badge-primary">納品先</span>
    <input type="checkbox" name="label" value="2" ><span class="badge badge-secondary">建築地</span>
    <input type="checkbox" name="label" value="3" ><span class="badge badge-success">借地</span>
    <input type="checkbox" name="label" value="3" ><span class="badge badge-info">車庫</span>
    <input type="checkbox" name="label" value="3" ><span class="badge badge-warning">取引先</span>  
  </td>
</tr>
<tr>
  <td align="right">ハッシュタグを入力</td><td><input type="text"></td>
</tr>
<tr>
  <td align="right">名称の一部を入力</td><td><input type="text"></td>
</tr>
<tr>
  <td align="right">メモの一部を入力</td><td><input type="text"></td>
</tr>
<tr>
  <td align="right">コメントの一部を入力</td><td><input type="text"></td>
</tr>
    </table>
    <input type="submit" value="絞込み" class="btn btn-primary btn-sm mb-3">
  </form>
</div>

<h4>一覧</h4>
<div class="site_index_index">
  <div class="text-right">
    <a href="#">新規作成</a>
  </div>
  <table class="table table-sm table-bordered table-resposive table-hover">
  <thead class="thead-light">  
    <tr>
      <th>現場ID</th>
      <th>名称</th>
      <th>住所</th>
      <th>ラベル</th>
      <th>タグ数</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th><th></th>
    </tr>
  </thead>
  <tbody>
  <% @sites.each do |site| %>
    <tr>
      <td><%= link_to site.id, site_path, class: "btn btn-info" %></td>
      <td><%= site.name %></td>
      <td><%= site.address %></td>
      <td><!-- あとでラベルを記述 --></td>    
      <td><!-- あとでタグ数を記述 --></td>
      <td><%= site.created_at %></td>
      <td><%= site.updated_at %></td>
      <td><%= link_to '編集', edit_site_path(site.id), class: "btn btn-info" %></td>
      <td><%= link_to '削除', site_path(site.id), method: :delete,  data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
    
</div>
</article>
