<article class="container_article">
  <h1><%= I18n.t('views.labels.site_show') %></h1>  

  <div class="container-fluid">

    <h3>基本属性</h3>
    <!-- 基本属性ブロック start -->
    <section class="site_show_basic_block border border-info">
      <table>
        <tr>
          <td align="right"><div class="font-weight-bold">ID：&nbsp;</div></td>
          <td><div class=""><%= @site.id %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold">名称：&nbsp;</div></td>
          <td><div class=""><%= @site.name %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold">住所：&nbsp;</div></td>
          <td><div class=""><%= @site.address %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold">ラベル：&nbsp;</div></td>
          <td>
          <div class="">
            <% @site.site_labellings.each do |labelling| %>
              <span class="badge badge-pill badge-light mr-1 p-2"><%= labelling.label.title %></span>&nbsp;
            <% end %>          
          </div>
          </td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold">メモ：&nbsp;</div></td>
          <td><div class=""><%= @site.memo %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold">ハッシュタグ：&nbsp;</div></td>
          <td>
            <div class="text-monospace">
              <% @site.tag_list.each do |tag| %>
                <strong><%= tag %></strong>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </section>
    <!-- 基本属性ブロック end -->

    <!-- mapブロック start -->
    <h3>マップ</h3>
    <section class="site_show_map_block">  
      <div class="row">
        <div class="col-12">
          <iframe frameborder="0" 
                    style="border:0; width: 300px; height: 200px" 
                    src="https://maps.google.co.jp/maps?output=embed&q=<%= @site.address%>">
          </iframe>
        </div>
      </div>
    </section>
    <!-- mapブロック end -->

    <!-- コメントブロック start -->
    <h3>コメント一覧</h3>
    <section class="site_show_comment_block border border-info">

      <div id="comments_area">
        <!-- コメント一覧 -->
        <%= render partial: 'comments/index', locals: { comments: @comments, site: @site } %>
      </div>
    
      <!-- コメント入力欄 -->
      <%= render partial: 'comments/form', locals: { comment: @comment, site: @site } %>

    </section>
    <!-- コメントブロック end -->

    <!-- 画像ブロック start -->
    <h3>画像一覧</h3>                  
    <section class="site_show_image_block">
      <div class="row">
        <% @image_posts.each do |post| %>
          <div class="col-xs-12 col-xm-6 col-md-4 col-lg-3">
            <div class="site_show_menu_on_image">
              <%= image_tag(post.image_url, class:'site_show_image') %>
              <div class="site_show_menu">
                <%= link_to '×', image_post_path(id: post.id), method: :delete, data: {confirm: 'Are you sure?'} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>      

      <div class="row">
        <div class="col-auto">
          <%= link_to '画像追加', new_team_site_image_post_path(@site.team.id, @site.id) %>
        </div>
      </div>                  
    
    </section>
    <!-- 画像ブロック end -->                      
    
  </div>
  <!-- .container_fluid -->
  <!-- 全体コンテナ end -->                

</article>
