<article class="container_article">
  <h1><%= I18n.t('views.labels.site_show') %></h1>  

  <div class="container-fluid">

    <h4 class="font-weight-bold">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <%= I18n.t('views.labels.site_show_basic_attributes_block') %>
    </h4>
    <!-- 基本属性ブロック start -->
    <a name="basics"></a>
    <section class="site_show_basic_block border border-info">
      <table>
        <tr>
          <td align="right"><div class="font-weight-bold"><%= I18n.t('views.labels.site_id') %>：&nbsp;</div></td>
          <td><div class="site_show_basic_item"><%= @site.id %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold"><%= I18n.t('views.labels.site_url') %>：&nbsp;</div></td>
          <td>
            <div class="site_show_basic_item">
              <div id="request_url">
                <%= request.url %>&nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="site_link_copy()"><i class="fa fa-clipboard fa-lg" aria-hidden="true"></i></a>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold"><%= I18n.t('views.labels.site_name') %>：&nbsp;</div></td>
          <td><div class="site_show_basic_item"><%= @site.name %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold"><%= I18n.t('views.labels.site_address') %>：&nbsp;</div></td>
          <td><div class="site_show_basic_item"><%= @site.address %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold"><%= I18n.t('views.labels.site_label') %>：&nbsp;</div></td>
          <td>
          <div class="site_show_basic_item">
            <% @site.site_labellings.each do |labelling| %>
              <span class="badge badge-pill badge-secondary mr-1 p-2"><%= labelling.label.title %></span>&nbsp;
            <% end %>          
          </div>
          </td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold"><%= I18n.t('views.labels.site_memo') %>：&nbsp;</div></td>
          <td><div class="site_show_basic_item"><%= @site.memo %></div></td>
        </tr>

        <tr>
          <td align="right"><div class="font-weight-bold"><%= I18n.t('views.labels.site_hashtag') %>：&nbsp;</div></td>
          <td>
            <div class="site_show_basic_item text-monospace">
              <% @site.tag_list.each do |tag| %>
                <strong><%= tag %></strong>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </section>
    <!-- 基本属性ブロック end -->

    <!-- mapブロック start -->
    <h4 class="font-weight-bold">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <%= I18n.t('views.labels.site_show_map_block') %>
    </h4>
    <a name="maps"></a>
    <section class="site_show_map_block">  
      <div class="row">

        <% if @site.address.present? %>
          <div class="col-auto">
            <span class="text-monospace"><%= I18n.t('views.labels.site_address') %></span><BR>
            <iframe frameborder="0" 
                      style="border:0; width: 400px; height: 300px" 
                      src="https://maps.google.co.jp/maps?output=embed&q=<%= @site.address%>">
            </iframe>
          </div>
        <% end %>

        <% if @points %>
          <div class="col-auto">
            <span class="text-monospace"><%= I18n.t('views.labels.site_kml') %></span><BR>
            <div id="mapDiv" style="width:400px; height:300px;"></div>
            <input name="arr_json_points" type="hidden" value="<%= @points %>" class="arr_json_points">
            <input name="arr_json_lines" type="hidden" value="<%= @line_strings %>" class="arr_json_lines">
            <input name="arr_json_polygons" type="hidden" value="<%= @polygons %>" class="arr_json_polygons">
            <script>
              jQuery(function($) {
                var arrJsonPoints=$('.arr_json_points').val();
                var arrJsonLines=$('.arr_json_lines').val();
                var arrJsonPolygons=$('.arr_json_polygons').val();
                var conf={
                  points: JSON.parse(arrJsonPoints),
                  lines: JSON.parse(arrJsonLines),
                  polygons: JSON.parse(arrJsonPolygons)
                };
                $.gmapSearch($, google, conf);
              });
            </script>
          </div>
        <% end %>

      </div>
    </section>
    <!-- mapブロック end -->

    <!-- コメントブロック start -->
    <h4 class="font-weight-bold">
   <!--   <i class="fa fa-hand-o-right" aria-hidden="true"></i> -->
      <i class="fa fa-commenting-o" aria-hidden="true"></i>
      <%= I18n.t('views.labels.site_show_comments_block') %>
    </h4>
    <a name="comments"></a>
    <section class="site_show_comment_block border border-info">

      <div id="comments_area">
        <!-- コメント一覧 -->
        <%= render partial: 'comments/index', locals: { comments: @comments, site: @site } %>
      </div>
    
      <!-- コメント入力欄 -->
      <%= render partial: 'comments/form', locals: { comment: @comment, site: @site } if @comments.length < POSTMAXSIZE::COMMENT %>

    </section>
    <!-- コメントブロック end -->

    <!-- 画像ブロック start -->
    <h4 class="font-weight-bold">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
      <%= I18n.t('views.labels.site_show_images_block') %>
    </h4>
    <a name="images"></a>
    <section class="site_show_image_block">
      <div class="row">
        <% @image_posts.each do |post| %>
          <div class="col-auto">
            <div class="site_show_menu_on_image m-1 p-1">
              <%= link_to post.image_url, "data-lightbox": post.image_url do %>
                <%= image_tag(post.image_url, class:"site_show_image", alt: "#{File.basename(post.image.path, '.*')}" ) %>
              <% end %>
              <% if (current_user.id == post.user_id) || (current_user.id == current_user.keep_team.owner_id) %>
                <div class="site_show_menu">
                  <%= link_to '×', image_post_path(id: post.id), method: :delete, data: {confirm: I18n.t('views.messages.really_want_to_delete') } %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>      

      <div class="row">
        <div class="col-auto">
          <%= link_to I18n.t('views.labels.link_add_image'), new_team_site_image_post_path(@site.team.id, @site.id) if @image_posts.length < POSTMAXSIZE::IMAGEPOST%>
        </div>
        <div class="col-auto">
          <%= link_to I18n.t('views.labels.link_back_to_site_index'), team_sites_path %>  
        </div>
      </div>                  
    
    </section>
    <!-- 画像ブロック end -->                      
    
  </div>
  <!-- .container_fluid -->
  <!-- 全体コンテナ end -->                

</article>
