<!DOCTYPE html>
<html>
  <head>
    <title>SmoothRunning - サイト情報共有</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://kit.fontawesome.com/b02adf0581.js" crossorigin="anonymous"></script>
    <header>
    </header>

    <% if user_signed_in? %>
      <%= render 'shared/layout/menu' %>
    <% end %>

    <% flash.each do |key, value| %>    
      <% key="info" if key=="notice" %>
      <% key="danger" if key=="alert" %>
      <%= content_tag :dev, value, class: "alert alert-#{key}" %>
    <% end %>
    
    <%= yield %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
